/* General utility */
body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Sans-serif;
}

.primary-bg-color {
    background-color: #1f2937;
}

.secondary-bg-color {
    background-color: #e5e7eb;
}

.cta-bg-color {
    background-color: #3882f6;
}

.primary-txt-color {
    color: #f9faf8;
}

.secondary-txt-color {
    color: #e5e7eb;
}

.tertiary-txt-color {
    color: #1f2937;
}

/* header navbar */
.navbar {
    display: flex;
    justify-content: space-between;
}

nav .brand-text {
    font-weight: 900;
}

ul {
    display: flex;
    list-style: none;
    gap: 8px;
}

.menu-item a {
    text-decoration: none;
    color: #e5e7eb;
}
