/* General utility */
body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Sans-serif;
}

button {
    padding: 5px 25px;
    border-radius: 7px;
    border: none;
    box-shadow: none;
}

.container {
    padding: 0 15%;
}

.primary-bg-color {
    background-color: #1f2937;
}

.secondary-bg-color {
    background-color: #e5e7eb;
}

.cta-bg-color {
    background-color: #3882f6;
}

.primary-txt-color {
    color: #f9faf8;
}

.secondary-txt-color {
    color: #e5e7eb;
}

.tertiary-txt-color {
    color: #1f2937;
}

/* header navbar */
.navbar {
    display: flex;
    justify-content: space-between;
}

nav .brand-text {
    font-weight: 900;
}

ul {
    display: flex;
    list-style: none;
    gap: 8px;
}

.menu-item a {
    text-decoration: none;
    color: #e5e7eb;
}

/* hero section css */
div.hero {
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
    flex-flow: row wrap;
}

p.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.hero-right {
    display: flex;
    height: 30vh;
    width: 80vw;
    margin: 3vh 0vw;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
}

.hero-right img {
    flex: 1;
    text-align: center;
}

/* info section CSS */

div.info {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 10%;
    padding-bottom: 10%;
}

div.info-gallery-container {
    display: flex;
    flex-flow: row wrap;
}

